window {
    margin: 0px;
    background-color: #2e3440;
    border: 2px solid #88c0d0;
    border-radius: 12px;
}

#input {
    display: none;
}

#scroll {
    margin: 8px;
}

#inner-box {
    background-color: #2e3440;
    border-radius: 10px;
}

#outer-box {
    margin: 4px;
    padding: 4px;
    background-color: #2e3440;
    border-radius: 10px;
}

#entry {
    padding: 10px 16px;
    border-radius: 8px;
    color: #d8dee9;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
}

#entry:selected {
    background-color: #3b4252;
    color: #88c0d0;
}

#entry:hover {
    background-color: #434c5e;
}
